{% extends "layout.html" %}

{% block title %}
  Sale
{% endblock %}

{% block main %}
  <form action="{{ url_for('sale') }}" method="post">
    <fieldset>
      <div class="form-group">
        <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text"/>
      </div>
      <div class="form-group">
        <input autocomplete="off" class="form-control" name="shares" placeholder="Shares" type="text"/>
      </div>
      <div class="form-group">
        <button class="btn btn-default" type="submit">Sale</button>
      </div>
    </fieldset>
  </form>
{% endblock %}
